<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.cnm.deepdive.personalizedsafariapp">

<!--  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
<!--  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
<!--  <uses-permission android:name="android.permission.INTERNET"/>-->

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".SafariApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

<!--    <meta_data android:name="com.google.android.geo.API_KEY"-->
<!--      android:value="@string/map_key"/>-->

    <activity
      android:label="What do you wanna do?"
      android:name=".controller.NavigationActivity">
    </activity>
    <activity android:name=".controller.GeneralActivity">
    </activity>
    <activity android:name=".controller.PointsOfInterestActivity">
    </activity>
    <activity android:name=".controller.AccommodationActivity">
    </activity>
    <activity android:name=".controller.ItineraryActivity">
    </activity>
    <activity android:name=".controller.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>